{% extends "base.html" %}
{% load event_extras %}

{% block title %}Event{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>이벤트 리스트</h1>
  </div>

  {% for three_events in events|group_by:3 %}
    <div class="row">
      {% for event in three_events %}
        <div class="col-md-4">
          <a href="{% url "events:detail" pk=event.pk %}">
            <img src="{{ event.thumbnail.url }}" alt="{{event.title}}" class="img-responsive">

            <div>
              {{ event.title }}
              {% if event.is_in_progress %}
                <span class="label label-primary">진행중인 이벤트</span>
              {% else %}
                <span class="label label-danger">종료된 이벤트</span>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<pre>
# 전체 이벤트 : {{ events.count }}
</pre>
{% endblock %}
