# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ignore Autoenv environment file
.env

# Ignore SQLite3 DB file
db.sqlite3

# Ignore Vim swp files
*.swp

# IDE Settings
.ropeproject/
.idea/

# Django Migrations
# Ignore django migrations/ on development
migrations/

# Bower Components
bower_components/

# Node Modules
node_modules/

# Static Files for local developent ( STATIC_ROOT )
/static/
