{% extends "base.html" %}

{% block meta_description %}{{ center.meta_description }}{% endblock %}
{% block meta_keywords %}{{ center.meta_keywords }}{% endblock %}
{% block title %}{{ center.name }}{% endblock %}

{% block content %}


  {% include "centers/detail/_center.html" %}

  <section id="centers-nearby">
    <div class="container">
      <h2 class="jua recommendation">예비맘 추천 산후조리원</h2>
      {% include "centers/list/_centers.html" with centers=centers_nearby %}
    </div>
  </section>

{% endblock %}
