{% extends "base.html" %}
{% load event_extras %}

{% block title %}산후조리원 리스트{% endblock %}

{% block content %}
<section id="centers">
  <div class="container">
    {% for three_centers in centers|group_by:3 %}
    <div class="row">
      {% for center in three_centers %}
        <div class="col-sm-12 col-md-4">
          <a href='{% url 'centers:detail' center.hash_id %}'>{{ center.name }}</a>
          <img src="{{ center.get_main_image_url }}" alt="{{center.title}}" class="img-responsive"/>
        </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
