{% extends "base.html" %}

{% block title %}산후조리원 리스트{% endblock %}

{% block content %}

  <section id="filters">
    {% include "centers/list/_filter.html" %}
  </section>

  <section id="centers">
    <div class="container">

      {% if request.GET.search %}
        <span class="list-intro jua"><span class="word">"{{ request.GET.search }}"</span> 산후조리원 검색 결과 : <span class="number">{{ centers|length }}</span> 건</span>
      {% elif request.GET.location %}
        <span class="list-intro jua"><span class="word">"{{ request.GET.location }}"</span>에 위치한 산후조리원 검색 결과 : <span class="number">{{ centers|length }}</span> 건</span>
      {% endif %}


      {% include "centers/list/_centers.html" %}
    </div>
  </section>
{% endblock %}
