// Modules and Variables
@import "partials/base";

// Partials
@import "partials/typography";
@import "partials/buttons";

body {
  color: $primary-color;
}

header {
  background-color: yellow;
}

footer {
  background-color: green;
}
