<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta
            name="description"
            content="{% block meta_description %}산모의 산모에 의한 산모를 위한 에비맘닷컴{% endblock %}"
        >
        <title>{% block title %}예비맘{% endblock %}</title>

        {% include "partials/stylesheets.html" %}
    </head>
    <body>
        {% include "partials/header.html" %}
        {% block content %}{% endblock %}
        {% include "partials/footer.html" %}

        {% include "partials/javascripts.html" %}
    </body>
</html>
