.center {
  i.favorite {
    font-size: 35px;
    cursor: pointer;
    
    position: absolute;
    top: 12px;
    right: 30px;

    &.favorite-off {
      color: #BABABA;
    }

    &.favorite-on {
      color: $main-color;
    }

    &.favorite-border {
      color: white;
    }
  }

  div.center-price {
    position: absolute;
    bottom: 80px;

    padding: 10px 20px 0px 15px;

    font-size: 20px;
    color: white;
    background-color: rgba($main-color, 0.5);

    border-radius: 0 20px 20px 0;
  }

  .center-summary {
    text-align: center;

    a {
      color: $title-color;
      text-decoration: none;
    }

    h2 {
      font-weight: bold;
      color: $title-color;
      font-size: 16px;
      margin-top: 13px;
      margin-bottom: 8px;
    }

    .center-region {
      font-size: 12px;
      color: rgba($title-color, 0.7);
    }
  }

  img.img-responsive {
    border-radius: 10px;
  }
}
