.center {
  i.favorite {
    font-size: 35px;
    cursor: pointer;

    position: absolute;
    top: 12px;
    right: 30px;

    &.favorite-off {
      color: #BABABA;
    }

    &.favorite-on {
      color: $main-color;
    }

    &.favorite-border {
      color: white;
    }
  }

  div.center-price {
    position: absolute;
    bottom: 80px;

    padding: 10px 20px 0px 15px;

    font-size: 20px;
    color: white;
    background-color: rgba($main-color, 0.8);

    border-radius: 0 20px 20px 0;
  }

  .center-summary {
    text-align: center;

    a {
      color: $title-color;
      text-decoration: none;
    }

    h2 {
      font-weight: bold;
      color: $title-color;
      font-size: 16px;
      margin-top: 13px;
      margin-bottom: 8px;
    }

    .center-region {
      font-size: 12px;
      color: rgba($title-color, 0.7);
    }
  }

  img.img-responsive {
    border-radius: 10px;
  }
}

.centers-result {
  margin-top: 35px;
  margin-bottom: 60px;
}

#centers{
  .list-intro {
    font-size: 20px;
    color: rgba($title-color, 0.9);
    background-color: rgba($title-color, 0.1);

    span.word {
      color: $main-color;
    }

    span.number {
      color: $main-color;
    }
  }

  .center-well {
    min-height: 20px;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    text-align: center;
    font-size: 16px;
    color: rgba($title-color, 0.5);
  }
}

.icon {
  width: 25px;
  height: 25px;
}