.center {
  i.favorite {
    font-size: 35px;
    cursor: pointer;
    
    position: absolute;
    top: 30px;
    right: 30px;

    &.favorite-off {
      color: #BABABA;
    }

    &.favorite-on {
      color: $yebimom-color-red;
    }

    &.favorite-border {
      color: white;
    }
  }
}
