footer {
  background-color: $base-color;
  padding-bottom: 30px;

  #footer-link {
    padding: 15px 0px;
    margin-bottom: -60px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin-top: 30px;
        margin: 6px;
        color: rgba(#000000, 0.5);

        #customer_service_center {
          font-size: 24px;
          letter-spacing: -3px;
          background-color: rgba(#000000, 0.1);
        }

        a {
          color: rgba(#000000, 0.6);
          text-decoration: none;

          &:hover {
            text-decoration: none;
            //color: rgba($main-color, 0.8);
          }
        }


      }
    }
  }

  #info {
    #company-info {
      font-size: 11px;
      margin-top: 20px;
      color: rgba(#000000, 0.4);
    }

    a {
      color: $main-color;
    }
  }

  #escro img {
    position: absolute;
    left: 50px;
  }

  #language {
    margin-top: 20px;
  }
}
