footer {
  background-color: $base-color;
  .container {
      width: 970px;
  }

  #footer-link {
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
              display: inline;

              a {
                  color: white;
              }
          }
      }
  }
}
