header {
  background-color: yellow;

  padding-top: 10px;
  padding-bottom: 10px;

  .container {
      width: 970px;
  }
}

section#search-section {
    padding-top: 100px;
    height: 200px;
    background-color: red;
}
