section#region-navigation-section {
  background-color: #E4E4E4;

  a.btn-region {
    color : #ffffff;
    background-color: $yebimom-color-red;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    display: block;

    &:hover {
      text-decoration: none;
      background-color: $yebimom-color-blue;
    }
  }
}
