section#search-section {
  position: relative;
  padding-top: 120px;
  height: 433px;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1);
  background-image: url(../img/main_header.png);
  background-size: 1280px 433px;
  background-repeat: no-repeat;

  .search-bar {
    margin-top: 60px;


    p.text-center {
      color: white;
      font-size: 20px;
    }

    form {
      position: relative;

      input {
        width: 500px;
        height: 55px;

        font-size: 18px;

        border: 2px solid $main-color;
        border-radius: 60px 0 0 60px;

        text-indent: 20px;
      }

      button {
        border: 0px;
        background-color: $main-color;

        position: relative;
        top: 3px;
        right: 5px;

        height: 55px;
        width: 70px;

        border-radius: 0 60px 60px 0;

        font-size: 30px;
        color: white;
      }
    }

  }
}
