section#search-section {
  padding-top: 120px;
  height: 300px;
  background-image: url(http://cfile22.uf.tistory.com/image/1227EF49501F792435FB10);
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);

  p.text-center {
    color: white;
    font-size: 20px;
  }

  form {
    position: relative;

    input {
      width: 500px;
      height: 55px;

      font-size: 18px;

      border: 2px solid $main-color;
      border-radius: 60px 0 0 60px;

      text-indent: 20px;
    }

    button {
      border: 0px;
      background-color: $main-color;

      position: relative;
      top: 3px;
      right: 5px;

      height: 55px;
      width: 70px;

      border-radius: 0 60px 60px 0;

      font-size: 30px;
      color: white;
    }
  }
}
