<footer id="footer">
  <div class="container">

    <div id="info" class="row">
      <div class="col-sm-3">
        예비맘
      </div>
      <div class="col-xs-12 col-sm-9">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
    </div>

    <div id="copyright" class="row">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>
</footer>
