<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Center Autocomplete Search</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <style>
  </style>

  <script>

  $(function() {
    $( "#search" ).autocomplete({
      minLength: 0,
      source: "http://localhost:8000/api/centers/",
      focus: function( event, ui ) {
        return false;
      },
      select: function( event, ui ) {
        $( "#search" ).val( ui.item.name );
        $( "#center_hash_id" ).val( ui.item.hash_id );
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.name )
        .appendTo( ul );
    };
  });
  </script>
</head>
<body>

<input id="search">
<input type="hidden" id="center_hash_id">
 
</body>
</html>