<section id="facilities">
  <div class="container">
    <h2>편의시설</h2>
  <hr>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>이름</th>
        <th>유무</th>
      </tr>
      </thead>
      <tbody>
      {% for facility in facilities %}
        {% if facility in center.facility_set.all %}
          <tr>
            <td>{{ facility.name }}</td>
            <td>O</td>
          </tr>
        {% else %}
          <tr>
            <td>{{ facility.name }}</td>
            <td>X</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
