<section id="policies">
  <div class="container">
    <h2>준수사항</h2>
  <hr>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>이름</th>
        <th>가능여부</th>
      </tr>
      </thead>
      <tbody>
      {% for policy in policies %}
        {% if policy in center.policy_set.all %}
          <tr>
            <td>{{ policy.name }}</td>
            <td>O</td>
          </tr>
        {% else %}
          <tr>
            <td>{{ policy.name }}</td>
            <td>X</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>

  </div>
</section>
