{% load mathfilters %}

<hr>

<div class="row">
  <div class="col-md-3 text-muted">
    준수사항
  </div>


  <div class="col-md-9 expandable expandable-trigger-more expanded">


    <div class="expandable-content-full" style="transition: none; -webkit-transition: none;">
      <div class="row">
        <div class="col-sm-6">


          {% for policy in policies %}

            {% if policy in center.policy_set.all %}

              <div class="row-space-1 ">
                <i class="icon h3 icon-meal"></i>
                &nbsp;
                  <span id="amenity-long-tooltip-trigger-8">
                      <strong>
                        {{ policy.name }}
                      </strong>
                  </span>
              </div>
            {% else %}
              <div class="row-space-1 ">
                <i class="icon h3 icon-meal"></i>
                &nbsp;
                  <span id="amenity-long-tooltip-trigger-8">
                      <del>
                        {{ policy.name }}
                      </del>
                  </span>
              </div>
            {% endif %}
            {% if forloop.counter|mul:1.0 == policies|length|div:2|add:1 %}
              </div>
              <div class="col-sm-6">
            {% endif %}
          {% endfor %}




          </div>
      </div>
    </div>
  </div>


</div>