header#header {
  background-color: $base-color;
  opacity: 0.8;

  .navbar-header a {
    color: black;
    // should remove after change it to logo image
  }

  .navbar-contents a {
    margin-top: 15px;
  }

  .navbar-contents form {
    margin-top: 10px;
  }

  .navbar-contents button {
    margin-top: 10px;
  }

  .navbar-header {
    height: 80px;
  }

  ul.nav.navbar-nav li a {
    color: black;
  }

  input {
    margin-top: 15px;
    margin-bottom: 15px;

    height: 30px;
    width: 200px;

    border: 1px solid $main-color;
    border-radius: 20px;

    font-size: 12px;
    text-indent: 15px;
  }

  form button {
    border: 0px;
    background-color: transparent;

    position: absolute;
    top: 17px;
    right: 5px;
  }

  #logo {
    height: 47px;
    width: 256px;
  }
}
