{% load staticfiles %}
{% load pipeline %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/fabicon/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/fabicon/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/fabicon/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/fabicon/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/fabicon/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/fabicon/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/fabicon/apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/fabicon/apple-touch-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/fabicon/apple-touch-icon-180x180.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/fabicon/favicon-32x32.png" %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static "img/fabicon/favicon-194x194.png" %}" sizes="194x194">
    <link rel="icon" type="image/png" href="{% static "img/fabicon/favicon-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "img/fabicon/android-chrome-192x192.png" %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static "img/fabicon/favicon-16x16.png" %}" sizes="16x16">
    <link rel="manifest" href="{% static "img/fabicon/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="{% static "img/fabicon/mstile-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}산후조리원 관리하기 :: 모두의 산후조리원{% endblock %}</title>

    {% stylesheet "managements" %}
    {% javascript "managements" %}
  </head>
  <body>
    <div id="wrapper">
      {% include "managements/_partials/_nav.html" %}

      <div id="page-wrapper" class="gray-bg">
        {% include "managements/_partials/_header.html" %}

        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2>{% block content-title %}{% endblock %}</h2>
            <ol class="breadcrumb">
              <li>
                <a href="{% url "managements:dashboard" %}">산후조리원 관리하기</a>
              </li>
              {% block breadcrumb %}{% endblock %}
            </ol>
          </div>  
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
          {% block content %}{% endblock %}
        </div>
        {% include "managements/_partials/_footer.html" %}
      </div>
    </div>
  </body>
</html>
