{% extends "managements/_base.html" %}


{% block content-title %}랜딩페이지 관리하기{% endblock %}
{% block breadcrumb %}
<li>
  <a href="">{{ center.name }}</a>
</li>
<li>
  <a href="">랜딩페이지 관리하기</a>
</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>랜딩페이지 목록</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#">준비중입니다</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>식별자</th>
                <th>랜딩페이지 주소</th>
                <th>생성일</th>
                <th>상태</th>
              </tr>
            </thead>
            <tbody>
              {% for center_landing in center_landings %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ center_landing.hash_id }}</td>
                  <td>{{ center_landing.get_full_absolute_url }}</td>
                  <td>{{ center_landing.created_at }}</td>
                  <td><span class="label label-success">OPEN</span></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
