        <div>
          <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
            <select name="language">
            {% get_language_info_list for LANGUAGES as langs %}
            {% for lang in langs %}
              <option 
                value="{{ lang.code }}"
                {% if lang.code == LANGUAGE_CODE %} selected="selected"{% endif %}
              >
                {{ lang.code }}
              </option>
              {% endfor %}
            </select>
            <input type="submit" value="select" />
          </form>
        </div>

<footer id="footer">
  <div class="container">
    <div id="footer-link" class="row">
      <div class="col-md-12">
        <ul>
          <li><a href="">회사소개</a></li>
          <li><a href="">이용약관</a></li>
          <li><a href="">개인정보 취급방침</a></li>
          <li><a href="">책임의 한계와 법적고지</a></li>
          <li><a href="">이메일 무단수집 거부</a></li>
        </ul>
      </div>
    </div>

    <div id="info" class="row">
      <div class="col-sm-3">
        모두의 산후조리원
      </div>
      <div class="col-xs-12 col-sm-9">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
    </div>

    <div id="copyright" class="row">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
    </div>
  </div>
</footer>
