<header id="header" class="navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'home' %}" class="navbar-brand">모두의 산후조리원</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li><a href="{% url 'centers:list' %}">산후조리원 가격비교</a></li>
      <li><a href="{% url 'events:list' %}">이벤트 전체보기</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li><a href="" data-toggle="dropdown"><i class="fa fa-user"></i> 마이페이지</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'users:dashboard' %}">대쉬보드</a></li>
            <li><a href="{% url 'users:logout' %}">로그아웃</a></li>
          </ul>
        </li>
        <li><a href="">리뷰 작성하고 상품권 받기</a></li>
      {% else %}
        <li><a href="">로그인</a></li>
        <li><a href="">회원가입</a></li>
      {% endif %}
    </ul>
  </div>
</header>
