<section id="search-section">
  <div class="container">
    <div class="row">
      <form action="{% url 'centers:list' %}" method='GET'>
        <input name="search" id="search" size="50">
        <button type="submit">검색</button>
      </form>
    </div>
  </div>
</section>

<script>
  $(function() {
    $( "#search" ).autocomplete({
      minLength: 0,
      source: "{% url 'api:centers_list' %}",
      focus: function( event, ui ) {
        return false;
      },
      select: function( event, ui ) {
        $( "#search" ).val( ui.item.name );
          var hash_id = ui.item.hash_id;
          window.location.href="{% url 'centers:detail' 'abcde' %}".replace('abcde', hash_id);
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.name )
        .appendTo( ul );
    };
  });
</script>
