<section id="search-section">
  <div class="container">
    <div class="row">
      <p class="text-center">{% trans "함께 만드는 프리미엄 산후조리원 정보" %}</p>

      <form action="{% url 'centers:list' %}" method='GET' class="text-center">
        <label>
          <input name="search" id="search" placeholder="산후조리원을 검색하세요">
          <button type="submit"><i class="fa fa-search"></i></button>
        </label>
      </form>
    </div>
  </div>
</section>

<script>
function autocomplete_center(src){
  $(src).autocomplete({
    minLength: 0,
    source: "{% url 'api:centers_list' %}",
    focus: function( event, ui ) {
      return false;
    },
    select: function( event, ui ) {
      $( "#search" ).val( ui.item.name );
        var hash_id = ui.item.hash_id;
        window.location.href="{% url 'centers:detail' 'abcde' %}".replace('abcde', hash_id);
      return false;
    }
  })
  .autocomplete( "instance" )._renderItem = function( ul, item ) {
    return $( "<li>" )
      .append( "<a>" + item.name )
      .appendTo( ul );
  };
};

autocomplete_center("#header input");
autocomplete_center("#search");
</script>
