{% extends "base.html" %}

{% block title %}{{ center.name }}{% endblock %}

{% block content %}

<section id="center">
  <div class="container">
    <h1>{{ center.name }}</h1>
  </div>
</section>

<section id="reviews">
  <div class="container">
    <h1>Reviews</h1>

    <form action='{% url 'centers:reviews' slug=center.hash_id %}' method="post">{% csrf_token %}
      <div class="alert alert-info"> {{ user }}의 이름으로 {{ center.name }} 에 댓글 남기기 </div>
      <input type="submit" name="Post Review">
    </form>
  </div>
</section>

{% endblock %}
