{% extends "base.html" %}

{% block title %}{{ center.name }}{% endblock %}

{% block content %}

<section id="center">
  <div class="container">
    <h1>{{ center.name }}</h1>
  </div>
</section>

<section id="reviews">
  <div class="container">
    <h1>Reviews</h1>

    <div class="alert alert-info">{{ center.review_set.count }}개의 리뷰가 있습니다.</div>

    <ul>
      {% for review in center.review_set.all %}
      <li>{{ review.user }} - {{ review.content }}</li>
      {% endfor %}
    </ul>

    <form action='{% url 'centers:reviews' slug=center.hash_id %}' method="post">{% csrf_token %}
      <div class="alert alert-info"> {{ user }}의 이름으로 {{ center.name }} 에 댓글 남기기 </div>
      {{ review_form }}
      <input type="submit" name="Post Review">
    </form>
  </div>
</section>

{% endblock %}
