amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
dj-database-url==0.3.0
Django==1.7.5
gnureadline==6.3.3
gunicorn==19.2.1
honcho==0.6.4
kombu==3.0.24
psycopg2==2.6
pygraphviz==1.2
pytz==2014.10
redis==2.10.3
hashids==1.0.3
